{% extends "base/base.html" %}

{% block menuregister %}class="current"{% endblock%}

{% block content %}
		
		<div id="body">  
			<div class="contents">
				<h1>REGISTRATION</h1>
				<div class="registration">
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.
						You can remove any link to our website from this website template, you're free to use this website template without linking back to us. 
						If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.
					</p>
					<form action="" method="post">
						{% csrf_token %}
						 {{ form.non_field_errors }}
						<table cellspacing="0" cellpadding="0">
							<tbody>
								 
					            <tr>
					                <td>
					                    Usuário
					                </td>
					                <td>
					                    <input name="username" type="text"/>
					                    {{ form.username.errors }}
					                </td>
					            </tr>
					            <tr>
					                <td>Senha:</td>
					                <td>
					                    <input name="password1" type="password"/>
					                    {{ form.password1.errors }}
					                </td>
					            </tr>
					            <tr>
					                <td>Confirme a Senha:</td>
					                <td>
					                    <input name="password2" type="password"/>
					                    {{ form.password2.errors }}
					                </td>
					            </tr>
					            <tr>
					                <td colspan="2">
					                    <button type="submit">Cadastrar</button>
					                </td>
					            </tr>
        
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>  <!-- end of body wrapper -->
	</div>
	<div id="footer"> <!-- start of footer part -->
		<div>
			<ul>
				<li><a href="http://facebook.com/freewebsitetemplates" target="_blank" class="fb">Facebook</a></li>
				<li><a href="http://twitter.com/fwtemplates" target="_blank" class="twitr">Twitter</a></li>
			</ul>
			<span> &copy; Copyright &copy; 2010.<a href="index.htm">Company name.</a> All Rights Reserved</span>
		</div>
	</div>
{% endblock content %}	
